h2 Категории доходов
= render 'settings/incomes_category/income_category_list', income_categories: @income_categories
= render 'settings/incomes_category/form', income_category: @income_category

h2 Категории расходов
= render 'settings/payments_category/payment_category_list', payment_categories: @payment_categories
= render 'settings/payments_category/form', payment_category: @payment_category
